<div class="text-center">
	<h1 class="bold-style">Our services</h1>
	<hr/>
	<div class="col-md-4">
		<div class="well">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-truck fa-stack-1x fa-inverse"></i>
			</span>
			<h4 class="service-heading">Responsive Design</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="well">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-usd fa-stack-1x fa-inverse"></i>
			</span>
			<h4 class="service-heading">Responsive Design</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="well">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-heart fa-stack-1x fa-inverse"></i>
			</span>
			<h4 class="service-heading">Responsive Design</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		</div>
	</div>
</div>